body {
  margin: 0px;
  background: #1e242a;
}

.wrapper {
  position: relative;
  margin: 1rem;
}

input[type="range"] {
  -webkit-appearance: none;
  max-width: 7rem;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  background: white;
  background: linear-gradient(to bottom right, transparent 50%, white 50%);
}

input[type="range"]::-moz-range-track {
  height: 0.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  background: white;
  background: linear-gradient(to bottom right, transparent 50%, white 50%);
}

input[type="range"]::-ms-track {
  height: 0.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  color: transparent;
  background: white;
  border: 0;
  background: linear-gradient(to bottom right, transparent 50%, white 50%);
}

input[type="range"]::-ms-fill-lower {
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 0.5rem;
  background: lightslategray;
  border: 1px solid;
  margin-top: -5px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 7px 3px #0065c4;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 0.5rem;
  background: lightslategrey;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0px 0px 7px 3px #0065c4;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 0.75rem;
  width: 0.5rem;
  background: lightslategrey;
  border: 1px solid;
  margin-top: 0;
  border-radius: 3px;
  cursor: pointer;
}

input[type="range"]:focus::-ms-thumb {
  box-shadow: 0px 0px 7px 3px #0065c4;
}

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #c70606, #e78b7b);
}

#box3 {
  overflow: hidden;
}
#container {
  width: 100%;
  position: absolute;
  top: -100%;
  animation: anim4 1.5s forwards 0s;
}
#logo {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}
#logo img {
  width: 225px;
}

#table {
  width: 100%;
}
#menu {
  font-family: "Bahnschrift Condensed";
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
  margin-right: 20px;
  margin-top: 30px;
  float: right;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  display: inline-block;
  margin-left: 75px;
}
#menu ul li:hover {
  color: rgb(50, 194, 81);
}
@keyframes anim4 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
#hospitalPic {
  width: 40%;
}
#graphPic {
  width: 80%;
}
#communitiesPic {
  width: 50%;
  height: 50%;
}

#box4 {
  width: 75%;
  height: auto;
  font-family: "Bahnschrift Condensed";
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
  position: absolute;
  top: 15%;
  left: 12.5%;
  text-align: center;
}

#controls {
  /* display: none; */
  position: absolute;
  top: 350%;
  left: 74%;
  right: 0.5%;
  font-size: 85%;
  color: white;
  float: right;
  background-color: #1e242a;
  /* border-radius: 25px;
      border: 5px solid white; */
  padding: 0px;
  line-height: 50%;
}
#info {
  border-radius: 25px;
  border: 5px solid white;
  padding: 5px 5px 2px 20px;
}
#diseaseControls {
  border-radius: 25px;
  border: 5px solid white;
  padding: 5px 2px 2px 20px;
}
#govControls {
  border-radius: 25px;
  border: 5px solid white;
  padding: 5px 5px 28px 20px;
}

#sketch-container {
  position: absolute;

  top: 350%;
  left: 1%;
}
#irelandFlag {
  width: 40%;
  height: 40%;
}
#worldPic {
  width: 30%;
  height: 30%;
}

.parent {
  text-align: center;
}
.parent > ul {
  display: inline-block;
}

canvas {
  display: block;
}
.chart-container {
  position: absolute;
  top: 425%;
  height: 13vw;

  /* width: 70vw" */
}

/* a,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}
a {
  all: unset;
  color: inherit;
}

a:hover {
  color: rgb(50, 194, 81);
} */

.topLink,
.topLink:focus,
.topLink:active,
.topLink:visited {
  text-decoration: none;
  color: white;
}
.topLink:hover {
  color: green;
}

.buttonHolder {
  width: 600px;
  text-align: center;
}

.btn {
  display: inline-block;
  /* background-color: var(--color-primary); */
  background-color: white;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: rgb(190, 188, 188);
}
.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
button:focus {
  outline: none;
}

.highlightRed {
  position: relative;
}

.highlightRed::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-secondary);
}

.modal {
  font-size: 120%;
  text-align: center;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  /* background-color: #f3f3f3; */
  background-color: #1e242a;

  padding: 2rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.highlightRed {
  position: relative;
}

.highlightRed::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-secondary);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}
